@using VebProdavnica.Models;
@model VebProdavnica.Models.Korisnik
@{
    ViewBag.Title = "AdminPanelRecenzije";
    var SveRecenzije = ViewData["Recenzije"] as Dictionary<int, Recenzija>;
    var SviProizvodi = ViewData["Proizvodi"] as Dictionary<int, Proizvod>;
    var SviKorisnici = ViewData["Korisnici"] as Dictionary<string, Korisnik>;
}

<head>
    <title>Admin - Recenzije</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f5f5f5;
            margin: 0;
            padding: 0px;
        }

        .elements {
            padding: 20px;
        }

        .nav ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #333;
            position: sticky;
            top: 0;
        }

        .nav li {
            display: inline;
            margin-right: 10px;
            float: left;
        }

        .nav li a {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

        .nav li a:hover {
            color: #cc0000;
            text-decoration: none;
        }

        a {
            color: #333;
            text-decoration: none;
        }

        h2 {
            color: #007bff;
        }

        h3 {
            color: #333;
            margin-top: 20px;
        }

        table {
            width: 100%;
            border-collapse: collapse;
        }

        th, td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }

        tr:hover {
            background-color: #f5f5f5;
        }

        input[type="text"],
        input[type="date"],
        select {
            padding: 8px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
            width: 100%;
        }

        input[type="submit"] {
            padding: 8px 16px;
            background-color: #333;
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        input[type="submit"]:hover {
            background-color: #cc0000;
        }

        .actions-form {
            display: inline-block;
            margin-right: 5px;
        }
    </style>
</head>


<body>
<div class="nav">
    <ul>
        <li><a href="~/Prodavnica/Index">Pocetna stranica</a></li>
        <li style="float:right"><a href="~/Prodavnica/Odjava">Odjavi se</a></li>
        <li style="float:right"><a href="~/Admin/AdminPanel">Admin profil</a></li>
    </ul>
</div>
<h2>Admin Panel</h2>
<h2>@ViewBag.Greska</h2>
<h2>@ViewBag.Message</h2>

<div>
    <h3>Recenzije koje cekaju na odobravanje</h3>
    <table>
        <tr>
            <th>Proizvod</th>
            <th>Kupac</th>
            <th>Naslov</th>
            <th>Sadrzaj recenzije</th>
            <th>Slika</th>
            <th>Komande</th>
        </tr>
        @foreach (Recenzija r in SveRecenzije.Values)
        {
            if (!r.obrisana && r.status == StatusRecenzije.CEKA)
            {
            <tr>
                <td>@SviProizvodi[r.idProizvod].naziv</td>
                <td>@SviKorisnici[r.userRecezent].korisnickoIme</td>
                <td>@r.naslov</td>
                <td>@r.sadrzajRecenzije</td>
                <td><img src="~/Slike/@r.slika" alt=""/></td>
                <td>
                    <form method="post" action="/Admin/OdobriRecenziju" class="actions-form">
                        <input type="number" value="@r.id" name="id" hidden />
                        <input type="submit" value="Odobri" />
                    </form>
                    <form method="post" action="/Admin/OdbiRecenziju" class="actions-form">
                        <input type="number" value="@r.id" name="id" hidden />
                        <input type="submit" value="Odbi" />
                    </form>
                </td>
            </tr>
            }
        }

    </table>

</div>
</body>