@using VebProdavnica.Models;
@model VebProdavnica.Models.Korisnik
@{
    ViewBag.Title = "AdminPanelKorisnici";
    var SviKorisnici = ViewData["Korisnici"] as Dictionary<string, Korisnik>;
}

<head>
    <title>Admin - Korisnici</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f5f5f5;
            margin: 0;
            padding: 0px;
        }

        .elements {
            padding: 20px;
        }

        .nav ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #333;
            position: sticky;
            top: 0;
        }

        .nav li {
            display: inline;
            margin-right: 10px;
            float: left;
        }

        .nav li a {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

        .nav li a:hover {
            color: #cc0000;
            text-decoration: none;
        }

        a {
            color: #333;
            text-decoration: none;
        }

        h2 {
            color: #007bff;
        }

        h3 {
            color: #333;
            margin-top: 20px;
        }

        table {
            width: 100%;
            border-collapse: collapse;
        }

        th, td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }

        tr:hover {
            background-color: #f5f5f5;
        }

        input[type="text"],
        input[type="date"],
        select {
            padding: 8px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
            width: 100%;
        }

        input[type="submit"] {
            padding: 8px 16px;
            background-color: #333;
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        input[type="submit"]:hover {
                background-color: #cc0000;
            }

        .actions-form {
            display: inline-block;
            margin-right: 5px;
        }

        .reset-filters {
            margin-top: 10px;
            display: inline-block;
            color: #cc0000;
            text-decoration: none;
        }
    </style>
</head>

<body>

    <div class="nav">
        <ul>
            <li><a href="~/Prodavnica/Index">Pocetna stranica</a></li>
            <li style="float:right"><a href="~/Prodavnica/Odjava">Odjavi se</a></li>
            <li style="float:right"><a href="~/Admin/AdminPanel">Admin profil</a></li>
        </ul>
    </div>

    <div class="elements">
    <h2>Administriranje korisnika</h2>
    <h2 style="color: crimson;">@ViewBag.Greska</h2>
    <h2 style="color: #9E00FF;">@ViewBag.Message</h2>

        <h3>Lista korisnika</h3>

        <form action="/Admin/PretragaKorisnika">
            <table>
                <tr>
                    <td>
                        <h4>Pretrazi i sortiraj:</h4>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>Ime:</td>
                    <td><input type="text" name="ime" /></td>
                </tr>
                <tr>
                    <td>Prezime:</td>
                    <td><input type="text" name="prezime" /></td>
                </tr>
                <tr>
                    <td>Datum:</td>
                    <td>Od: <input type="date" value="@DateTime.MinValue.ToString("yyyy-MM-dd")" name="datumOd" /></td>
                    <td>Do: <input type="date" value="@DateTime.MinValue.ToString("yyyy-MM-dd")" name="datumDo" /></td>
                </tr>
                <tr>
                    <td>Uloga:</td>
                    <td>
                        <select name="uloga">
                            <option value="SVI">SVI</option>
                            <option value="KUPCI">KUPCI</option>
                            <option value="PRODAVCI">PRODAVCI</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Sortiraj:</label>
                    </td>
                    <td>
                        <select name="kriterijum">
                            <option value="Podrazumevano">Podrazumevano</option>
                            <option value="Ime(rastuce)">Ime(rastuce)</option>
                            <option value="Ime(opadajuce)">Ime(opadajuce)</option>
                            <option value="Uloga(rastuce)">Uloga(rastuce)</option>
                            <option value="Uloga(opadajuce)">Uloga(opadajuce)</option>
                            <option value="Datum rodjenja(rastuce)">Datum rodjenja(rastuce)</option>
                            <option value="Datum rodjenja(opadajuce)">Datum rodjenja(opadajuce)</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="submit" value="Primeni filtere" />
                    </td>
                    <td></td>
                </tr>
            </table>
        </form>
        <a class="reset-filters" href="~/Admin/AdminPanelKorisnici">Ponisti filtere</a>

        <form style="float: right;" action="/Admin/DodajProdavca">
            <input type="submit" value="Dodaj prodavca" />
        </form>
        <table>
            <tr>
                <th>Ime</th>
                <th>Prezime</th>
                <th>Korisnicko ime</th>
                <th>Uloga</th>
                <th>Datum rodjenja</th>
                <th>Komande</th>
            </tr>
            @foreach (Korisnik k in SviKorisnici.Values)
            {
                if (k.uloga != Uloga.Administrator && !k.obrisan)
                {
                    <tr>
                        <td>@k.ime</td>
                        <td>@k.prezime</td>
                        <td>@k.korisnickoIme</td>
                        @if (k.uloga == Uloga.Kupac)
                        {
                            <td>KUPAC</td>
                        }
                        else
                        {
                            <td>PRODAVAC</td>
                        }
                        <td>@k.datumRodjenja.ToString("dd.MM.yyyy")</td>
                        <td>
                            <form method="post" action="/Admin/IzmeniKorisnika" class="actions-form">
                                <input type="text" value="@k.korisnickoIme" name="user" hidden />
                                <input type="submit" value="Izmeni" />
                            </form>
                            @if (k.uloga == Uloga.Prodavac)
                            {
                                <form method="post" action="/Admin/ObrisiProdavca" class="actions-form">
                                    <input type="text" value="@k.korisnickoIme" name="user" hidden />
                                    <input type="submit" value="Obrisi" />
                                </form>
                            }
                            else
                            {
                                <form method="post" action="/Admin/ObrisiKupca" class="actions-form">
                                    <input type="text" value="@k.korisnickoIme" name="user" hidden />
                                    <input type="submit" value="Obrisi" />
                                </form>
                            }

                        </td>
                    </tr>
                }
            }

        </table>

    </div>
</body>