@using VebProdavnica.Models;
@{
    Layout = null;
    ViewBag.Title = "Index";
    var SviProizvodi = ViewData["Proizvodi"] as Dictionary<int, Proizvod>;
}

<head>
    <title>Markova Prodavnica</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f2f2f2;
            margin: 0;
            padding: 0px;
        }

        .elements {
            padding: 20px;
        }

        h2 {
            color: #333;
            margin-bottom: 20px;
        }

        h3 {
            color: #cc0000;
            margin-top: 20px;
        }

        ul {
            list-style-type: none;
            padding: 0px;
            margin: 0;
            background-color: #333;
            overflow: hidden;
            position: sticky;
            top: 0;
        }

        li {
            display: inline;
            margin-right: 10px;
            float: left;
        }

        li a {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

        a {
            color: #333;
            text-decoration: none;
        }

        /*.active
        {
            background-color: red;
        }*/

        a:hover {
            color: #cc0000;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }

        th,
        td {
            padding: 10px;
            text-align: center;
        }

        th {
            background-color: #333;
            color: #fff;
        }

        img {
            width: 150px;
            height: 100px;
        }

        input[type="submit"] {
            background-color: #2979FF;
            color:white;
            padding: 10px 16px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        input[type="submit"]:hover {
            background-color: #1565C0;
        }
    </style>
</head>

<body>


    @if (HttpContext.Current.Session["korisnik"] == null)
    {
        <ul>
            <li><a href="~/Prodavnica/Index">Pocetna stranica</a></li>
            <li style="float:right"><a href="~/Prodavnica/Prijava">Prijavi se</a></li>
            <li style="float:right"><a href="~/Prodavnica/Registracija">Registracija</a></li>
        </ul>
    }
    else if (((Korisnik)HttpContext.Current.Session["korisnik"]).uloga == Uloga.Administrator)
    {
        <ul>
            <li><a href="~/Prodavnica/Index">Pocetna stranica</a></li>
            <li style="float:right"><a href="~/Prodavnica/Odjava">Odjavi se</a></li>
            <li style="float:right"><a href="~/Admin/AdminPanel">Admin profil</a></li>
        </ul>
    }
    else
    {
        <ul>
            <li><a href="~/Prodavnica/Index">Pocetna stranica</a></li>
            <li style="float:right"><a href="~/Prodavnica/Odjava">Odjavi se</a></li>
            <li style="float:right"><a href="~/Prodavnica/Profil">Moj profil</a></li>
        </ul>

    }


    <div class="elements">
        <h2>Dobrodošli u prodavnicu</h2>
        <h2>@ViewBag.Greska</h2>

        <div>
            @*<form action="/Prodavnica/Sort">
                <table>
                    <tr>
                        <td>
                            Sortiraj:
                            <select name="kriterijum">
                                <option value="Naziv(rastuce)">Naziv(rastuce)</option>
                                <option value="Naziv(opadajuce)">Naziv(opadajuce)</option>
                                <option value="Cena(rastuce)">Cena(rastuce)</option>
                                <option value="Cena(opadajuce)">Cena(opadajuce)</option>
                                <option value="Datum oglasavanja(rastuce)">Datum oglasavanja(rastuce)</option>
                                <option value="Datum oglasavanja(opadajuce)">Datum oglasavanja(opadajuce)</option>
                            </select>
                            <input type="submit" value="Sortiraj" />
                        </td>
                    </tr>
                </table>
            </form>*@
        
            <div style="max-width: 700px; margin: auto">
            <form action="/Prodavnica/Pretraga"
                  style="padding: 10px">
                <table style="border-collapse: collapse; margin-bottom: 10px">
                    <tr>
                        <td style="padding: 5px; margin: 0;">
                            <label style="font-weight:bold">Pretrazi:</label>
                            <br />

                            <label style="font-weight:bold">Naziv:</label>
                            <input type="text" name="naziv" 
                                   style="padding: 5px; border: 1px solid #ccc; border-radius: 3px"/>
                            <br />

                            <label style="font-weight:bold">Grad:</label>
                            <input type="text" name="grad" 
                                   style="padding: 5px; border: 1px solid #ccc; border-radius: 3px"/>
                            <br />
                        </td>
                        <td style="padding: 5px; margin: 0">
                            <label style="font-weight:bold">Cena:</label>
                            <br />
                            Od: <input type="text" name="cenaOd"
                                       style="padding: 5px; border: 1px solid #ccc; border-radius: 3px" />
                            Do: <input type="text" name="cenaDo"
                                       style="padding: 5px; border: 1px solid #ccc; border-radius: 3px" />
                           <br />
                            <label style="font-weight:bold">Sortiraj:</label>
                            <select name="kriterijum">
                                <option value="Podrazumevano">Podrazumevano</option>
                                <option value="Naziv(rastuce)">Naziv(rastuce)</option>
                                <option value="Naziv(opadajuce)">Naziv(opadajuce)</option>
                                <option value="Cena(rastuce)">Cena(rastuce)</option>
                                <option value="Cena(opadajuce)">Cena(opadajuce)</option>
                                <option value="Datum oglasavanja(rastuce)">Datum oglasavanja(rastuce)</option>
                                <option value="Datum oglasavanja(opadajuce)">Datum oglasavanja(opadajuce)</option>
                            </select>
                            <input type="submit" value="Primeni"
                                   style="padding: 8px 16px; border:none; border-radius:3px;" />
                        </td>
                    </tr>
                </table>
            </form>
            </div>
            
            <a href="~/Prodavnica/Index">Ponisti pretragu</a>
            <h3>@ViewBag.Pretraga</h3>
        </div>

        <table border="1">
            <tr>
                <th>Naziv</th>
                <th>Slika</th>
                <th>Cena</th>
                <th>Grad</th>
                <th>Datum postavljanja</th>

                <th>Detalji</th>
            </tr>

            @foreach (Proizvod p in SviProizvodi.Values)
            {
                if (p.dostupan && !p.obrisan)
                {
                    <tr>
                        <td>@p.naziv</td>
                        <td><img src="~/Slike/@p.slika" alt="@p.naziv" /></td>
                        <td>@p.cena</td>
                        <td>@p.grad</td>
                        <td>@p.datumPostavljanja.ToString("dd.MM.yyyy")</td>
                        <td>
                            <form action="/Prodavnica/DetaljiProizvoda">
                                <input type="number" value="@p.id" name="id" hidden />
                                <input type="submit" value="Vise o proizvodu" />
                            </form>
                        </td>
                    </tr>
                }
            }
        </table>
    </div>
</body>