@using VebProdavnica.Models;
@{
    Layout = null;
    ViewBag.Title = "Index";
    var SviProizvodi = ViewData["Proizvodi"] as Dictionary<int, Proizvod>;
}

<body>
    <h2>Dobrodosli u prodavnicu</h2>

    <h2>@ViewBag.Greska</h2>

    <table>
        @if (HttpContext.Current.Session["korisnik"] == null)
        {
            <tr>
                <td>
                    <form method="post" id="loginForm" action="/Prodavnica/UlogujSe">
                        <table border="1" align="center">
                            <tr>
                                <td colspan="2" align="center">Ulogujte se</td>
                            </tr>
                            <tr>
                                <td>Korisnicko ime:</td>
                                <td>
                                    <input type="text" name="username" required/>
                                </td>
                            </tr>
                            <tr>
                                <td>Lozinka:</td>
                                <td>
                                    <input type="password" name="password" required/>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" align="center"><input type="submit" value="Uloguj se" /></td>
                            </tr>
                        </table>
                    </form>
                </td>
                <td>
                    <h3>Nemate nalog?</h3>
                    <form action="/Prodavnica/Registracija">
                        <input type="submit" value="Registrujte se ovde!" />
                    </form>
                </td>
            </tr>
        }
    </table>

    <table border="1">
        <tr>
            <th>Naziv</th>
            <th>Slika</th>
            <th>Cena</th>
        </tr>
        @foreach(Proizvod p in SviProizvodi.Values)
        {
            if (p.kolicina > 0)
            {
                <tr>
                    <td>@p.naziv</td>
                    <td>
                        <img src="@p.slika"/>
                    </td>
                    <td>@p.cena</td>
                    <td>
                        <form method="post" action="/Prodavnica/DetaljiProizvoda">
                            <input type="number" value="@p.id" name="id" hidden />
                            <input type="submit" value="Vise o proizvodu" />
                        </form>
                    </td>
                </tr>
            }
        }



    </table>

</body>